<template lang="pug">
  v-card.grow.white--text.ma-1(color='brown lighten-2')
    v-layout
      v-flex(xs5)
        img.elevation-2(:src='pic', height='125px', contain :alt='book.volumeInfo.title')
      v-flex(xs7)
        v-card-title(primary-title)
          div.title.text-wrap {{book.volumeInfo.title}}
          div.text-wrap {{book.volumeInfo.subtitle}}
          div.text-wrap {{book.volumeInfo.publishedDate}}
    v-divider(light)
    v-card-actions.pa-3
      v-btn(@click='goDetail', block color='secondary')
        | More Detail
      v-spacer
      v-btn(@click='!isMeFav ? setFav():setUnFav()' :color='!isMeFav ? "orange":"pink"', fab, small, dark)
        v-icon {{!isMeFav? 'favorite_border':'favorite'}}
</template>

<script>
import { mapState,mapMutations,mapGetters } from 'vuex'
import BookCard from '../components/BookCard.vue'
export default {
  components: {
    BookCard
  },
  props: {
    book: {
      type: Object,
      required: true,
      default: () => Object({}),
    }
  },
  computed: {
    ...mapState(['currentBooks']),
    ...mapGetters(['isFav']),
    isMeFav() {
      return this.isFav(this.book)
    },
    pic() {
      return this.book.volumeInfo.imageLinks ? this.book.volumeInfo.imageLinks.thumbnail : 'https://upload.wikimedia.org/wikipedia/commons/7/72/Placeholder_book.svg'
    }
  },
  methods: {
    ...mapMutations(['ADD_FAV_BOOK','REMOVE_FAV_BOOK']),
    setFav() {
      this.ADD_FAV_BOOK(this.book.id)
    },
    setUnFav() {
      this.REMOVE_FAV_BOOK(this.book.id)
    },
    goDetail() {
      this.$router.push({ name: 'book', params: { id: this.book.id } })
    }
  }
}
</script>

<style scoped>
.text-wrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.grow {
  transition: all .2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}
</style>
