<template lang="pug">
  v-dialog(v-model='isLoading', :persistent="waitState=='wait'", width='300')
    v-card(:color="waitState=='success' && 'light-green' || waitState=='fail' && 'amber' || 'primary' " , dark)
      v-card-text
          span(v-if="waitState=='wait'") Please Wait..
          span(v-if="waitState=='success'") Success !
          span(v-if="waitState=='fail'") Failed :( {{errmsg}}
          v-progress-linear.mb-0(:indeterminate="waitState=='wait'", color='white')
</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex'
export default {
  data() {
    return {

    }
  },
  computed: {
    ...mapState(['loading', 'waitState', 'errmsg']),
    isLoading: {
      get: function() {
        return this.loading
      },
      // eslint-disable-next-line
      set: function(newVal) {
        this.STOP_LOADING()
      }
    }
  },
  methods: {
    ...mapMutations(['STOP_LOADING'])
  }
}
</script>
